
:root {
    --color-main-light: #FDFCE9;
    --color-header-background: var(--color-main-light);
    --color-main-background: #286181;
    --color-input-background: var(--color-main-light);
    --color-card-background: var(--color-main-light);
    --color-highlight: #05ABC4;
    --color-toggle: #919191;
    --color-toggle-background: #494D50;
    --color-font-dark: #252525;
    --color-font-light: #494D50;
}

body {
    display: grid;
    grid-template-columns: minmax(400px, 1fr) minmax(400px, 3fr);
    grid-template-rows: 10vh 1fr;
    font-family: 'Raleway', sans-serif;
}

header {
    grid-column: 1 / -1;
    grid-row: 1;
    background-color: var(--color-header-background);
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    padding: 20px 40px;
}

h1 {
    color: var(--color-font-dark);
}

.sidebar {
    grid-column: 1;
    background-color: var(--color-main-background);
    padding: 40px;
}

form {
    display: grid;
    grid-template-columns: 3fr 4fr;
    grid-template-rows: repeat(3, 48px 24px) 48px 48px;
}

.full-width {
    grid-column: 1 / -1;
}

label {
    display: flex;
    align-items: flex-end;
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--color-main-light);
}

.input-style {
    background-color: var(--color-main-light);
    border: none;
    border-radius: 12px;
    padding: 0 10px;
    width: 100%;
}

input[type=number] {
    width: 25%;
}

.completed-button {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.switch {
    align-self: center;
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
    margin-top: 10px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider-round {
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 24px;
    background-color: var(--color-toggle-background);
}

.slider-round::before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    right: 3px;
    bottom: 3px;
    border-radius: 50%;
    background-color: var(--color-toggle);
}

input:checked+.slider-round::before {
    -webkit-transform: translateX(-16px);
    -ms-transform: translateX(-16px);
    transform: translateX(-16px);
    background-color: var(--color-highlight);
}

input:checked+.slider-round {
    background-color: var(--color-main-light);
}

#save-button {
    margin-top: 25px;
    height: 40px;
    width: 35%;
    border-radius: 20px;
    border: none;
    background-color: var(--color-highlight);
    color: var(--color-main-light);
    font-weight: 700;
    text-align: center;
    cursor: pointer;
}


main {
    grid-column: 2;
    background-color: var(--color-main-background);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    gap: 40px;
    padding: 40px;
}

.card {
    display: grid;
    grid-template-columns: 1fr 40px;
    grid-template-rows: repeat(3, 20px 50px) 1fr;
    width: 300px;
    height: 300px;
    border-radius: 20px;
    background-color: var(--color-main-light);
    padding: 20px;
    gap: 5px;
}

.card p {
    grid-column: 1 / -1;
}

.card-subheader {
    font-size: 0.875rem;
    color: var(--color-font-light);
}

.book-data {
    font-size: 1.25rem;
    font-weight: 700;
    color: var(--color-font-dark);
}

.status-button {
    grid-column: 1;
    display: inline-block;
    padding: 0, 5px;
    margin: 0;
    border: none;
    cursor: pointer;
    background-color: var(--color-main-light);
    text-align: left;
    width: fit-content;
    border-radius: 5px;
}

.status-button:hover {
    background-color: var(--color-highlight);
    color: var(--color-main-light);
}

div img {
    justify-self: end;
}

.delete-button {
    display: inline-block;
    background: url(../images/trash-can-outline-black.png) no-repeat center;
    padding: 0;
    margin: 0;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.delete-button:hover {
    background: url(../images/trash-can-outline-white.png) no-repeat center;
    background-color: var(--color-highlight);

}


